* {
    margin: 0;
    padding: 0;
}

body {
    color:#4C4B4A;
    font-family: "Abel", sans-serif;
}

a{
    text-decoration: none;
}

a:visited {
    color: #4C4B4A;
}

a:active {
    color: #4C4B4A;
}

li{
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button {
    background-color: #BF985A;
    color: #4C4B4A;
    font-family: "Abel", sans-serif;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}

.container {
    background-color: #A4A48C;
    color: #4C4B4A;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 75px 40vh 40vh 80px;
    grid-template-areas: 
                        "navigation navigation navigation navigation"
                         "image about about about"
                         "other other other other"
                         "footer footer footer footer"
}

.navigation{
    padding: 30px;
    grid-area: navigation;
    background-color: #E2CC88;
    color:#4C4B4A;
    border-top: 2px solid #4C4B4A;
    border-bottom: 2px solid #4C4B4A;
}


.image{
    grid-area: image;
    background-color: #A4A48C;
    align-items: center;
    margin-top: 10px;
    padding-left: 220px;
    padding-bottom: 160px;
}

.logo{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 5px;
}

.about{
    display: flex;
    flex-direction: column;
    grid-area: about;
    padding-left: 120px;
    padding-top: 55px;
    background-color: #A4A48C;
    justify-content: center;
}

.other{
    grid-area: other;
    background-color: #A4A48C;
    padding-top: 105px;
    padding-left: 15px;
}

.footer{
    grid-area: footer;
    background-color: #A4A48C;
}

.nav li {
    margin: 5px;
}



.buttons {
    padding: 20px;
}

/*mobile view*/
/* @media screen and (min-width: 500px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header"
                             "navigation" 
                             "image" 
                             "about"
                             "other"
                             "footer"
    }
    .navigation{
        padding: 10px;
        grid-area: navigation;
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: wheat;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

}

mobile medium view
@media screen and (min-width: 700px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header navigation"
                             "image about"
                             "other other"
                             "footer footer"
                            
    }
    .navigation{
        padding: 10px;
        grid-area: navigation;
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: wheat;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

}
/*mobile medium view*/
/* @media screen and (max-width: 499px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header" 
                             "navigation"
                             "image" 
                             "about"
                             "other" 
                             "footer"
                            
    }
    .navigation{
        padding: 10px;
        grid-area: navigation;
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: wheat;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

}  */